.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
}

.top-one {
  margin-top: 100px;
}

.userlist {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.podium__bars {
  padding: 7px;
  width: 100%;
  margin-top: 50px;
}

.podium-container {
  margin-top: 50px;
}

.user-points {
  margin-left: 0px;
}

.user {
  justify-content: space-evenly;
  width: 100%;
}
