.container{
    position: relative;
    top: 50px;
    height: 796px;
    width: 100vw;
    

    .photo_button{
        position: relative;
        top: 0;
        height: 220px;
        box-sizing: border-box;
        
    
        .photo{
            position: absolute;
            left: 41px;
            top: 63px;
            width: 90px;
            height: 90px;
    
            .user-photo__circle {
                width: 90px;
                height: 90px;
            }
        }
    
        .button{
            position: absolute;
            top: 98px;
            left: 180px;
            width: 200px;
        }
        
    }

    .data{
        height: 425px;
        
        .data__name{
            position: absolute;
            left: 30px;
        }

        .input__container {
            margin-top: 0;
        }

        .data__password{
            height: 64px;
            position: absolute;
            top: 320px;
            left: 30px;
        }

        .data__repeat__password{
            height: 64px;
            position: absolute;
            top: 420px;
            left: 30px;
        }
        
    }

    .round__button{
        position: absolute;
        right: 33px;
        
    }

}

