.user-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 5px;
  background-color: rgb(87, 160, 255);
  color: white;
  position: relative;

  &__left-column {
    flex: 1;
    position: absolute;
    left: 16px;
  }

  &__center-column {
    flex: 1;
    position: absolute;
    left: 110px;
    margin-right: 40px;
  }

  &__right-column {
    flex: 1;
    position: absolute;
    right: 32px;
    text-align: end;
  }

  &__user-pic {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &__username {
    font-size: 20px;
    font-weight: bold;
  }

  &__current-missions {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__user-level {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__contacts {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__total-points {
    font-size: 16px;
    font-weight: bold;
  }
}
