.rounded-button {
    width: 40px;
    height: 40px;
    padding: 20px;
    size: '20px';
    background-color: #1a3891;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
  }
  
  .rounded-button:hover {
    background-color: #005ac2;
  }
  