.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;

  &-completed {
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  @media (max-width: 575.98px) {
    width: 100vw;
    max-width: 100vw;
  }
}
