.user-profile {
  margin-top: 50px;
  width: 100vw;
  height: 100vh;

  &__options {
    display: flex;
    height: 30px;
    color: white;
    text-align: center;

    &__missions {
      padding: 5px;
      background-color: darkblue;
      width: 50%;
    }

    &__roadmap {
      padding: 5px;
      background-color: darkblue;
      width: 50%;
    }

    &__selected{
      background-color: dodgerblue;
    }
  }

  &__header {
    width: 100vw;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
