.user-profile{

    &__options{

        display: flex;
        height: 30px;
        color: white;
        text-align: center;

        &__misions{
            padding: 5px;
            background-color: darkblue;
            width: 50%;
        }

        &__roadmap{
            padding: 5px;
            background-color: darkblue;
            width: 50%;
        }
    }
}

.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
}



