.dropdown-container { //TODO: añadir esto en el propio componente y quitar de aqui
    width: 100vw; 
    max-width: 100vw;
    box-sizing: border-box;
}

.nav-menu { //TODO: añadir esto en el propio componente y quitar de aqui
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
}