
.user-details{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    color: black;

    &__pic{
        background-color: rgb(9, 9, 240);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px;
    }

    &__info{
        width: 273px;
        display: flex;
        flex-direction: column;

        &__top{
            width: inherit;
            display: flex;
            flex-direction: column;

            &__username-star{
                height: 50px;
                font-size: 16px;
                font-weight: bold;
                width: inherit;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        
        &__bottom{
            height: fit-content;
            font-size: 14px;
        }
    }
   
}