.taskbar{
    margin-top: 25px;
    height: 33px;
    width: 346px;
    border: 1px solid #1A3891;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px darkgray;
    resize: none;
    text-align: center;
    color: #1A3891;
}
p{
    margin-top: 40px;
    font-size: 16px;
    color: rgb(26, 56, 145);
}
.title{
   font-size: 20px;
   color: rgb(26, 56, 145); 
   text-align: center; 
   margin-top: 10px;
}