.text-fields {
  width: 352px;
}

.input__container {
  margin-top: 13px;
}

.wrapper {
  margin-top: 50px;

  label {
    margin-bottom: 5px;
  }

  .select-menu {
    margin-top: 50px;
  }
}

.buttons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  .formButton {
    //  margin-right: 110px;
    background-color: #1a3891;
    color: #ffffff;
    margin-top: 14px;
    margin-bottom: 5px;
  }
}

.select-group {
  padding-top: 50px;
}
