.parent {
    padding-top: 50px;
  }
  
  .text-fields {
    width: 350px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons {
    padding-top: 50px;
    display: flex;
  
    .formButton {
      margin-right: 110px;
      background-color: #1A3891;
      color: #ffffff;
    }
  }
  