.tab-container {
  display: flex;
  flex-direction: column;
  width: 50vw;

  &__tab-row {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    &__close {
      position: absolute;
      top: 5px;
      right: 0px;
      cursor: pointer;
      color: #9e9e9e;
      transition: color 0.2s ease;
      font-size: 20px !important;

      &:hover {
        color: #f44336;
      }
    }
  }

  &__tab-content {
    padding: 1rem;
  }
}
