.like-and-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-and-comments {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  
  .heart {
    position: relative;
    color: white;
    margin-right: 4px;

    &.--liked {
      color: red;
    }

    &::before {
      content: '🤍';
    }

    &.--liked::before {
      content: '❤️';
    }

    .fill {
      position: absolute;
    }
  }
}

.comment-toggle-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #444;
  cursor: pointer;
  margin-left: 12px;
}

.comment-icon {
  margin-right: 4px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  p {
    margin: 4px 0;
  }
}

.comment-text {
  text-decoration: underline;
}

.comment-text:hover {
  font-weight: bold;
}
