@import '../../App.scss';

.styles {
    @include flex-column-centered;

    &>div {
        padding: 20px;
        margin-bottom: 20px;
    }

    &__red-mobile {
        @include for-mobile-only {
            color: red;
        }
    }

    &__wide-mobile {
        @include mobile-full-width;
        @include primary-bg;
    }

    &__blue-text {
        border: 5px solid $primary-color;
        color: $secondary-color;
    }

    &__default {
        @include secondary-bg;
        @include padding;
        @include shadow;
        @include rounded-borders;
        width: 250px;
    }
    
    &__spaced {
        width: 600px;
        @include mobile-full-width;
        @include flex-row-spaced;
        @include primary-bg;

        &>div {
            background-color: white;
            width: 30px;  
            height: 30px    
        }
    }

    &__note{
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }
}