@import 'lib-productivio/src/components/style/vars.scss';

.block {
  margin-bottom: 10px;

  .feedblock {
    display: flex;
    width: 100vw;
    margin: 7px;
    position: relative;

    &__user-photo {
      display: flex;
      margin-left: 5px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 348px;

      &__username {
        padding: 5px;
        font-size: 18px;
      }

      &__description {
        margin-top: 4px;
        margin-left: 5px;
      }

      &__bar {
        margin: 10px;
        width: 190px;
      }
    }

    &__time {
      position: absolute;
      margin-left: 80%;
      font-size: 12px;
      max-width: fit-content;
    }
  }

  .interactions {
    display: flex;
    margin: 10px;

    &__likes {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
