// @import 'lib-productivio/src/components/style/vars.scss';

.block {
  .feedblock {
    display: flex;
    width: 100%;
    margin: 6px;
    position: relative;

    &__user-photo {
      display: flex;
      margin-right: 9px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 300px;

      &__username {
        padding: 5px;
        font-size: 18px;
      }

      &__description {
        margin-top: 4px;
        margin-left: 5px;
      }

      &__bar {
        margin: 10px;
        width: 80%;
      }
    }

    &__time {
      position: absolute;
      margin-left: 80%;
      font-size: 12px;
      max-width: fit-content;
      top: 8px;
    }
  }

  .interactions {
    display: flex;

    &__likes {
      margin-right: 10px;
      margin-left: 0px;
    }
  }
}
