.rounded-button {
    width: 60px;
    height: 60px;
    background: #3900be;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
  }
  
  .rounded-button:hover {
    background: #005ac2;
  }
  