//RESPONSIVE (MOBILE)
@mixin for-mobile-only {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin mobile-full-width {
    @include for-mobile-only {
        width: 100vw;
        max-width: 100vw;
    }
}


//FLEX:
@mixin flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


//COLORS:
$primary-color: #1a3891;
$secondary-color: #8394c4;

@mixin primary-bg {
    background-color: $primary-color;
    color: white;
    fill: white;
}

@mixin secondary-bg {
    background-color: $secondary-color;
    color: white;
    fill: white;
}



//DEFAULT RULES:
body {
    @include flex-column-centered;
    @include mobile-full-width;

    margin: 0;
    padding: 0;

    //TODO: add "Inter" font
}